@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px !important;
}

body {
  letter-spacing: 0px;
}

.imgScroller ::-webkit-scrollbar {
  width: 24px !important;
  background-color: #000 !important;
}

.imgScroller ::-webkit-scrollbar-track {
  background-color: #000 !important;
}

.imgScroller ::-webkit-scrollbar-thumb {
  background-color: #000 !important;
}

.slide-up-enter {
  transform: translateY(100%);
  opacity: 0;
}

.slide-up-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
